# Python builds and distributions
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.pytest_cache(1)/
.coverage
htmlcov/

# Environment variables (Safety first!)
.env

# Scraping / Data garbage
*.log
.ipynb_checkpoints/
