# Virtual environment
.venv/

# Byte-compiled / optimized / DLL files
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Database and logs
data/*.db
logs/*.json
# If you want to ignore the folder but keep the .gitkeep file (if you have one)
# data/*
# !data/.gitkeep

# OS files
Thumbs.db
.DS_Store

# VSCode
.vscode/